.App {
  height: 100%;
}

.container {
  margin-top :0px !important;
  margin-left: 250px !important;
  margin-right: 0 !important;
  margin-bottom: 0px !important;
  padding-top : 10px;
  padding-bottom : 10px;
}